@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    border: 0;
    padding: 0;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container{
    max-width: 360px;
    margin: auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 18px;
    text-align: center;
    margin: 0 1rem;
}
.card img{
    width: 100%;
    border-radius: 12px;
}

.text{
    padding: 20px 10px;
}

.text h2{
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p{
    color: hsl(216, 15%, 48%);
}

.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}